<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home/home']">
    <i class="fa fa-home poke-red" aria-hidden="true"></i> 
    Pokédex
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home/home']">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Regiões
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Kanto</a>
          <a class="dropdown-item" href="#">Johto</a>
          <a class="dropdown-item" href="#">Hoenn</a>
          <a class="dropdown-item" href="#">Sinnoh</a>
          <a class="dropdown-item" href="#">Unova</a>
          <a class="dropdown-item" href="#">Kalos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Todas</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tipo/tipo']">Tipos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar Pokémon..." aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>